<service>
	<serviceName>starwars</serviceName>
	<serviceDescription>Enseña noticias de Star Wars del sitio Web latino.StarWars.com.</serviceDescription>
	<creatorEmail>khalifenizar@gmail.com</creatorEmail>
	<serviceCategory>ocio</serviceCategory>
	<serviceUsage>
		<![CDATA[
			Escriba un nuevo email a {APRETASTE_EMAIL} y en el asunto ponga la palabra STARWARS

			Por ejemplo:
			Para: {APRETASTE_EMAIL}
			Asunto: STARWARS

			Recibir&aacute; un email con una lista de noticias de Star Wars.
		]]>
	</serviceUsage>
</service>